@font-face {
    font-family: "AvenirNext";
    src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf);
}

@font-face {
    font-family: "Avenir";
    src: url(../../assets/fonts/AvenirLTStd-Book.otf);
}

@font-face {
    font-family: "Avenir Medium";
    src: url("../../assets/fonts/Avenir\ Medium.ttf");
}

.contacto {
    padding: 160px 10% 120px 10%;
    background-color: white;
    text-align: center;
}

.form {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 60%;
    margin-top: 48px;
    justify-content: space-around;
}

.titles {
    font-size: 48px;
    color: #121826;
    text-align: center;
    margin-bottom: 0px;
}

.input {
    width: 50%;
    padding: 2%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 32px;
}

.input input {
    height: 44px;
    border: 1px solid #C8C7D3;
    border-radius: 22px;
    padding-left: 16px;
    box-sizing: border-box;
    font-family: "Avenir";

}

.input label,
.textArea label {
    font-size: 16px;
    font-family: "Avenir Medium";
    color: #121826;
    margin-bottom: 8px;
}

.textArea {
    width: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 32px;
}

.textArea textarea {
    height: 120px;
    border: 1px solid #C8C7D3;
    border-radius: 22px;
    padding-left: 16px;
    padding-top: 16px;
    box-sizing: border-box;
    font-family: "Avenir";
}

input::placeholder {
    margin-left: 12px;
    opacity: .5;
}

input:focus {
    outline: 2px solid #4966F6;
    border: none;
}

.buttonPrimary {
    background-color: #4966F6;
    height: 40px;
    min-width: 180px;
    color: white;
    font-weight: bold;
    letter-spacing: .5px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 1s ease;
}

.buttonPrimary:hover {
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);

}

@media(max-width: 1024px) {
    .form {
        width: 80%;
    }
}

@media(max-width: 900px) {
    .form {
        width: 100%;
    }
}

@media(max-width: 600px) {
    .titles {
        font-size: 24px;
    }

    .contacto {
        padding: 120px 10% 80px 10%;
    }

    .input {
        width: 100%;
        padding: 2%;
    }

    .form {
        margin-top: 24px;
    }

    .form label {
        font-size: 14px;
    }

    .input,
    .textArea {
        margin-bottom: 24px;
    }

}