@font-face {
    font-family:"AvenirNext";
    src: url(./../assets/fonts/AvenirNextLTPro-Bold.otf);
  }
  @font-face {
    font-family:"Avenir";
    src: url(./../assets/fonts/AvenirLTStd-Book.otf);
  }

h1,h2,h3{
    color: #121826;
    font-family:"AvenirNext";
}  
p, button{
    color:#4B5563;
    line-height: 28px;
    font-family:"Avenir";

}
.welcome{
    text-align: center;
    width: 73%;
    margin: 0 auto;
    padding-top: 160px;
}
.header{
    font-size: 64px;
    font-family:"AvenirNext";
    margin-bottom: 24px;
}
.slogan{
    margin: 0px;
    font-size: 18px;
    font-family:"Avenir";
    margin-bottom: 32px;
    line-height: 32px;
}
.buttonPrimary{
    background-color: #4966F6;
    height: 40px;
    min-width: 180px;
    color: white;
    font-weight: bold;
    letter-spacing: .5px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
}
.preview{
    margin-top: 48px;
    width: 90%;
}
.services{
    padding: 80px 10%;
}
.titles{
    font-size: 48px;
    color: #121826;
    text-align: center;
}
.text{
    font-size: 18px; 
    text-align: center;
}
.servicesBox{
    display: flex;
    flex-wrap: wrap;
}
.serviceImg{
    width: 100%;
    height: 300px;
    background-color: #F2F2F2;
    margin-top: 48px;
}
.serviceCard{
    width: 320px;
    flex-grow: 1;
    margin: 0 16px;
}
.serviceCard h2{
    font-size: 18px;
}
.why{
    background-color: #FAFBFE;
    padding: 80px 10%;
}
.whyBox{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-wrap: wrap;
}

.advantages{
    width: 500px;
    flex-grow: 1;
    padding: 0 80px 0 0;
}
.advantages li{
    color:#4B5563;
    line-height: 28px;
    font-family:"Avenir";
    font-size: 18px;
    margin: 12px 0;
}
.whyImg{
    width: 500px;
    flex-grow: 1;
}
.whyImg img{
    width: 90%;
    margin: 0 5%
}

.steps{
    padding: 80px 10% 120px 10%;
}
.cardStep{
    width: 270px;
    border-radius: 16px;
    border: 1px solid #E6E6EB;
    padding: 24px;
    box-shadow: 0px 4px 8px 0px rgba(5, 0, 56, 0.05);

}
.cardStep h3{
    font-size: 24px;
    line-height: 32px;
    font-family: "Avenir" !important;
}
.cardStep img{
    float: right;
}
.steper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 48px;
}
.txt{
    font-size: 24px;
    color: #121826;
    font-weight: bolder;
    text-align: center;
    margin-top: 54px;
}

@media(max-width: 1240px){ 
    .cardStep{
        width: 240px;
    }  
}

@media(max-width: 1024px){ 
    .advantages{
        padding: 0px;
    }
    .whyImg img{
        width: 60%;
        margin: 0 20%
    }
    .cardStep{
        margin: 12px 0px;
    }  
    .steper{
        justify-content: space-around;
    }  
    
    
}

@media(max-width: 900px){ 
    .cardStep{
        margin: 12px;
    }  
    .cardStep{
        width: 240px;    
    }
}
@media(max-width: 600px){ 
    .welcome{
        width: 90%;
    }
    .header{
        font-size: 36px;
        margin-bottom: 24px;
    }
    .slogan{
        font-size: 16px;
        line-height: 28px;
    }
    .serviceCard{
        margin: 0;
    }
    .text{
        font-size: 16px;
    }
    .serviceCard h2{
        font-size: 16px;
    }
    .advantages li{
        font-size: 16px;
    }
    .welcome{
        padding-top: 120px;
    }
    .titles{
        font-size: 24px;
    }
    .steps{
        padding: 40px 10% 80px 10%;
 
    }
    .why{
        padding: 40px 10%;
    }
    .serviceImg{
        height: 200px;
    }
}